@charset "UTF-8";

/*-------------------------
  初期値
-------------------------*/
.body{
  margin: 0 auto;
}


/*-------------------------
  global
-------------------------*/
 .top-main-header{
  text-align: center;
  background-color: blue;
}

.gl-header{
    background-color: black;
}

.gl-nav ul{
  list-style: none;
  display:flex;
  justify-content: center;

}

.gl-nav ul li{
  margin-right: 40px;
}

.gl-nav ul li a{
  text-decoration: none;
  font-size: 20px;
}

/*-------------------------
  top
-------------------------*/
.main-top{
  text-align: center;
}

.main-top p{
  color: blue;
  margin: 0 auto;
  font-size: 30px;
  border-bottom: 3px solid #333;

}

.main-image{
    background-size: cover; //横幅最大で背景画像化
    background-repeat: no-repeat;
    background-position: center; //背景画像を中央寄せ
    background-image: url(/resources/images/baseball_back.jpg);
}
